@page "/perfil"

<form>
<table style="width:100%">
  <tr>
    <td><label for="Nombres">Nombres:</label></td>
    <td><label for="Apellidos">Apellidos:</label></td>
    <td><label for="Id">No. Identificacion:</label></td>
  </tr>
  <tr>
    <td><input type="text" id="Nombres" name="Nombres" value=""></td>
    <td><input type="text" id="Apellidos" name="Apellidos" value=""></td>
    <td><input type="text" id="Id" name="Identificacion" value=""></td>
  </tr>
  <tr></tr>
  <tr>
     <td><label for="Telefono">Telefono:</label></td>
    <td><label for="Correo">Correo electronico:</label></td>
     <td><label for="Direccion">Direccion Residencial:</label></td>
  </tr>
  <tr>
    <td><input type="text" id="Telefono" name="Telefono" value=""></td>
    <td><input type="email" id="Correo" name="Correo" value=""></td>
    <td><input type="text" id="Direccion" name="Direccion" value=""> </td>
  </tr> 
   <!-- Datos básicos Persona -->
</table>
</form>