@page "/perfil"

<form>
  <label for="Nombres">Nombres:</label><br>
  <input type="text" id="IdNombres" name="Nombres"><br>
  <label for="Apellidos">Apellidos:</label><br>
  <input type="text" id="IdApellidos" name="Apellidos"><br>
  <label for="Identificacion">No. Identificacion:</label><br>
  <input type="text" id="Id" name="Identificacion"><br>
  <label for="Telefono">Telefono de Contacto:</label><br>
  <input type="text" id="IdTelefono" name="Telefono"> <br> 
  <label for="Correo">Correo electronico de Contacto:</label><br>
  <input type="text" id="IdCorreo" name="Correo"><br>  
  <label for="Direccion">Direccion Residencial:</label><br>
  <input type="text" id="IdDireccion" name="Direccion"> 
</form>