@page "/perfil"

<form>
<table style="width:100%">
  <tr>
    <td><label for="Nombres">Nombres:</label></td>
    <td><label for="Apellidos">Apellidos:</label></td>
    <td><label for="Id">No. Identificacion:</label></td>
  </tr>
  <tr>
    <td><input type="text" id="Nombres" name="Nombres" value="Datos traidos de la BD"></td>
    <td><input type="text" id="Apellidos" name="Apellidos" value="Datos traidos de la BD"></td>
    <td><input type="text" id="Id" name="Identificacion" value="123456"></td>
  </tr>
  <tr></tr>
  <tr>
     <td><label for="Telefono">Telefono de Contacto:</label></td>
    <td><label for="Correo">Correo electronico de Contacto:</label></td>
     <td><label for="Direccion">Direccion Residencial:</label></td>
  </tr>
  <tr>
    <td><input type="text" id="Telefono" name="Telefono" value="123455"></td>
    <td><input type="email" id="Correo" name="Correo" value="Datos traidos de la BD"></td>
    <td><input type="text" id="Direccion" name="Direccion" value="Datos traidos de la BD"> </td>
  </tr>  <!-- Datos básicos Persona -->

<!-- Datos Docente-->
  <tr>
    <td><label for="Profesion">Profesion:</label></td>
    <td><label for="Salario">Salario:</label></td>
  </tr>
  <tr>
    <td><input type="text" id="Profesion" name="Profesion" value="Datos traidos de la BD"></td>
    <td><input type="text" id="Salario" name="Profesion" value="Datos traidos de la BD"></td>
  </tr>
</table>
</form>